* {
    font-family: arial;
}

body {
    background-image: url(FONDO\ GRIS.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

article {
    width: 100%;
    height: auto;
}

#register {
    margin: 18px 20%;
    background-color: #4e4d4d;
    padding: 5px 20%;
    border-radius: 3px;
    box-shadow: 7px 13px 37px #000;
    border-top: 10px solid #017bab;
}

form {
    margin: 90px 20%;
    background-color: rgba(110, 110, 110, 0.7);
    padding: 20px 20%;
    border-radius: 3px;
}

h1 {
    text-align: center;
    font-size: 2.1rem;
    color: aliceblue;
}

img {
    width: 2rem;
    height: auto;
    margin: 5px 15px;
    cursor: pointer;
}

input {
    padding: 15px 10px;
    margin: 5px 0px;
    width: 100%;
    color: #030202;
    border-radius: 1px;
    border: 1px solid #000000;
}

button[type="submit"] {
    background-color: #017bab;
    padding: 8px 13px;
    margin: 10px 0px;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #57A639;
}

button[type="reset"] {
    float: right;
    background-color: #017bab;
    padding: 8px 13px;
    margin: 10px 0px;
    color: white;
    border-radius: 3px;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

button[type="reset"]:hover {
    background-color: #c20a0a;
}

p {
    text-align: center;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 1.1rem;
    text-decoration: none;
}

a:focus {
    color: rgb(255, 255, 255);
}